$quote-marks: #999;
$quote-title: #666;
$quote-content: #333;

html,
body {
  margin: 0;
  padding: 0;
  background: #efefef;
  font-family: sans-serif;
}

.quote {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  .content p {
    font-size: 3.5em;
    position: relative;
    margin: 5em 0 2em 0;
    color: $quote-content;
    quotes: '“' '”' '‘' '’';
    font-family: 'Garamond', serif;
  }

  .content p:before {
    color: $quote-marks;
    content: open-quote;
  }

  .content p:after {
    color: $quote-marks;
    content: close-quote;
  }

  .title {
    font-size: 1.5em;
    color: $quote-title;
  }

  .title:before {
    content: '-';
  }
}

@media screen and (max-width: 480px) {
  .quote {
    .content p {
      margin: 6em 0;
      font-size: 1.2em;
    }

    .title {
      font-size: 1em;
    }
  }
}
